<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <!-- TODO #3 - Use the same list display from search.html -->
    <!--DISPLAY LIST OF ALL JOBS-->
    <!--Recall that the page at the path/list/values?column=all doesn't display any results.
    This page needs to display full job listings, just like the search results page.

    In fact, you can reuse the code you just wrote in search.html by defining a new fragment in that file,
    and then including the fragment in list.jobs.html.-->

    <!--For the fragment to work properly in a different file, the data passed into the view via model.addAttribute()
     must have the same key in both places.-->


</div>
<div th:replace="search :: j"></div>
</body>
</html>